
body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #2E2E2E;
}
.navbar-toggler {
  background-color: #757575;
}
ul a {
color: white;
}


header img {
  width: 100%;
  height: auto;
}

.container-fluid {
  position:absolute;
  top:0;
  right:4%;
  margin-top: 9%;
}

.box-shadow {
  box-shadow: 50px 30px 200px 50px;

}
 .box-shadow input, #inputState {
  background: transparent;
  outline: 0;
  border-width: 0 0 2px;
  border-color: white;

}
.form-group {
  margin-top:5%;
}
::placeholder {
  color: red;
}
